@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background: #0D0D2B;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 63px;
}
.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    line-height: .2;
}
.nav-item {
    margin-right: 33px;
}
.nav-item:nth-child(4) {
    margin-right: 56px;
}
.nav-login {
    margin-right: 48px;
}
.nav-login::before {
    content: "|";
    position: relative;
    left: 68px;
    pointer-events: none;
}
.nav-register {
    margin-right: 0;
}
.link-register {
    padding: 15px 32px;
    color: #ffffff;
    background: #3671E9;
    border-radius: 32px;
    text-decoration: none;
    transition: .2s ease background;
}
.link-register:hover {
    background: #2B076E;
}
/*-----------MAIN-----------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    display: flex;
    align-items: center;
    margin-top: 57px;
}
.main_text {
    flex: 0 0 600px;
}
.main_text__sale {
    font-size: 16px;
    line-height: 140%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    padding: 10px 12px 10px 4px;
    margin: 0;
    margin-top: 15px;
}
.main_text__sale span {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #0D0D2B;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 6px 19px;
    margin-right: 16px;
}
.main_text__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 24px;
}
.main_text_description {
    color: #E0E0E0;
    max-width: 400px;
    line-height: 1.6;
    margin-bottom: 60px;
}
.main_text__link {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #3671E9;
    border-radius: 32px;
    padding: 18px 26px;
    transition: .2s ease background;
}
.main_text__link:hover {
    background: #2B076E;
}
.main_img {
    flex-grow: 1;
}
.main_img img {
    width: 100%;
}
/*-----------STATUS-----------*/
.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 190px;
    padding-bottom: 181px;
}
.status_item {
    display: flex;
    align-items: center;
}
.status_item__icon {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.status_item__icon--01 {
    background-image: url(../img/icon-1.svg);
}
.status_item__icon--02 {
    background-image: url(../img/icon-2.svg);
}
.status_item__icon--03 {
    background-image: url(../img/icon-3.svg);
}
.status_item__text {
    font-size: 16px;
    color: #E0E0E0;
}
.status_item__text span {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
/*-----------CALC-----------*/
.text {
    text-align: center;
    padding-bottom: 61px;
}
.text_title {
    font-weight: 700;
    font-size: 40px;
}
.text_description {
    font-size: 18px;
    line-height: 1.5;
    color: #E0E0E0;
    max-width: 630px;
    margin: 0 auto;
}
.calc_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 840px;
    margin: 0 auto;
    background: #FBFCFE;
    border-radius: 16px 16px 0px 0px;
    padding: 47px 50px;
}
.calc_input {
    font-size: 20px;
    color: #0D0D2B;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    flex-grow: 1;
    padding: 10px 0;
}
.calc_input:focus {
    outline: none;
}
.calc_input::placeholder {
    color: #0D0D2B;
}
.calc_select {
    font-size: 20px;
    color: #0D0D2B;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    background: #fff;
    appearance: none;
    flex: 0 0 200px;
    background-image: url(../img/arrow-section.svg);
    background-repeat: no-repeat;
    background-position: 98% 15px;
    padding: 10px 5px;
    margin-right: 45px;
    margin-left: 50px;
}
.calc_select:focus {
    outline: none;
}
.calc-button {
    border: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    flex-grow: 0;
    padding: 20px 30px;
    background: #3671E9;
    border-radius: 32px;
}
.calc-button:hover {
    background: #2B076E;
}
.calc_footer {
    max-width: 942px;
    margin: 0 auto;
    padding: 47px 50px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
    margin-bottom: 105px;
}
.calc_footer__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3671E9;
    margin: 0;
}
.calc_footer_total {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #0D0D2B;
    margin-top: 17px;
    margin-bottom: 5px;
}
.calc_footer_total span {
    color: #3671E9;
}
.calc_footer__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #828282;
    margin: 0;
}
/*-----------PAGE-WHITE-----------*/
.page_white {
    background: #F8F9FB;
    padding-bottom: 99px;
}
.page_white__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    color: #0D0D2B;
}
.crypto {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    margin-top: 62px;
}
.crypto_item {
    background: #ffffff;
    color: #0D0D2B;
    border-radius: 16px;
    flex: 0 0 31%;
    box-sizing: border-box;
    padding: 47px 35px 48px;
    transition: .2s ease background, .2s ease color;
}
.ctypto_item__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin-top: 45px;
    margin-bottom: 18px;
}
.ctypto_item__title sup {
    font-weight: 500;
    font-size: 18px;
    color: #BDBDBD;
}
.crypto_item__description {
    font-size: 16px;
    line-height: 1.5;
    color: #828282;
    margin-bottom: 27px;
}
.crypto_item__btn {
    text-decoration: none;
    padding: 0 5px;
    background: #ffffff;
    color: #fff;
    border-radius: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 205px;
    margin: 0 auto;
    transition: .2s ease background;
}
.crypto_item__btn-text {
    font-weight: 500;
    width: 0;
    transition: .2s ease width, .2s ease visibility;
    visibility: hidden;
}
.crypto_item__btn-icon {
    background-color: #FFFFFF;
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 100%;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(43, 7, 110, 0.2);
    transform: scale(1);
    transition: .2s ease border, .2s ease transform;
}
.page_gradient {
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    padding-top: 88px;
    padding-bottom: 50px;
}
.form {
    background: #3671E9;
    border-radius: 16px;
    padding: 20px 48px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_text {
    flex-grow: 1;
    padding-right: 10px;
}
.form_text__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    margin-top: 28px;
}
.form_text__description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    max-width: 350px;
}
.form_message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 566px;
}
.form_message__input {
    font-size: 16px;
    color: #0D0D2B;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background-color: transparent;
    flex-grow: 1;
    padding: 10px 0;
    margin-right: 40px;
    width: 100%;
}
.form_message__input::placeholder {
    color: #FFFFFF;
}
.form_message__button {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 14px 32px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;
}
.form_message__button:hover {
    background: #2B076E;
    color: #ffffff;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 15px 60px;
    margin: 0 auto;
    max-width: 1200px;
}
.footer_text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
}
.footer_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list__item {
    margin-right: 30px;
}
.footer_list__item:hover {
    transform: scale(1.3);
}
@media (max-width: 990px) {
    .status_item__text span {
        font-size: 32px;
    }
    .crypto_item {
        padding: 30px 20px;
    }
    .form {
        flex-direction: column;
        padding: 15px;
    }
    .form_text__title {
        font-size: 24px;
        margin: 0;
    }
    .form_text__description {
        max-width: 380px;
    }
    .form_message {
        flex: 0 0 60px;
    }
}
@media (min-width: 871px) {   
    .crypto_item:hover {
        background: #2B076E;
        color: #ffffff;
    }
    .crypto_item:hover .crypto_item__description {
        color: #ffffff;
    }
    .crypto_item:hover .crypto_item__btn {
        background: #3671E9;
    }
    .crypto_item:hover .crypto_item__btn-text {
        width: 140px;
        visibility: visible;
    }
    .crypto_item:hover .crypto_item__btn-icon {
        border: 2px solid #FFFFFF;
        transform: scale(0.5);
    }
    .crypto_item:hover .crypto_item__btn-text {
        width: 110px;
    }
}
@media (max-width: 870px) {
    .crypto_item__btn-icon {
        width: 45px;
        height: 45px;
    }
    .crypto_item__description {
        max-width: 300px;
    }
}